

<div class="row">
    <div class="col-12 d-flex justify-content-end mb-3">
        <button mat-button>
            Aggiungi
            <img src="/assets/svg/square-plus.svg" class="img-buttons ms-2" alt="image"> 
        </button>
    </div>

    <div class="col-12 mb-3">
        <mat-divider></mat-divider>
    </div>

    <div class="col-12 mb-2">
        <div class="col-12 d-flex justify-content-center bg-light py-3">
            <p class="my-0">Le tipologie di prodotto/evento :</p>
        </div>
    </div>

    <div class="col-12 d-flex justify-content-center" *ngFor="let dominio of domini">
        <p class="ps-5">- {{dominio.descrizione}}
            <button mat-button>
                <img src="/assets/svg/pen-to-square.svg" class="img-buttons" alt="image">
            </button>
            <button mat-button class="small-button">
                <img src="/assets/svg/trash-can.svg" class="img-buttons" alt="image">
            </button>
        </p>
    </div>
</div>



