<nav class="navbar d-flex justify-content-center bg-light fixed-nav-bar">
    <div class="row w-100">
      <div class="col-6 px-0">
        <button mat-button class="px-0" (click)="goTo('')"><img src="/assets/logo.png" class="logo" height="25px" alt="image"></button>
  
      </div>
      <div class="col-6 d-flex flex-row-reverse px-0">
        
        <button *ngIf="!us.logged"  mat-button color="accent" class="login-with-google-btn" (click)="openLogin()">Accedi con google</button>

        <button class="px-0 prenotazioni" [matMenuTriggerFor]="menu"  mat-button matBadge="{{us.utente.acquisti.length}}" *ngIf="us.acquistiPresents" >
          <img height="28px" class="info-calendar" src="/assets/svg/calendar.svg" alt="Card image cap">
        </button>
        <button *ngIf="us.logged && !us.acquistiPresents" mat-button [matMenuTriggerFor]="menu" >
          <img *ngIf="!us.utente.photoUrl" height="28px" alt="" class="c-icon border border-white" src="/assets/svg/user-com.svg">
          <img *ngIf="us.utente.photoUrl" height="28px" alt="" class="c-icon rounded-circle border border-white" src="{{us.utente.photoUrl}}">
        </button>
      </div>
    </div>
  </nav>
  
  <mat-menu class="mt-2 bg-light" #menu="matMenu">
    <div class="row">
  
      <div *ngIf="us.logged && !us.isSU" class="col-12 d-flex justify-content-center mb-2 bg-white">
        <button mat-button>Il mio profilo</button>
      </div>
      <div *ngIf="us.logged && us.isSU" class="col-12 d-flex justify-content-center mb-2 bg-white">
        <button mat-button (click)="goTo('su')">ADMIN</button>
      </div>
      <mat-divider class="mb-2"></mat-divider>
      <div *ngIf="us.logged" class="col-12 d-flex justify-content-center  bg-white">
        <button  mat-button color="accent" (click)="logout()">Disconnetti</button>
      </div>
      <mat-divider class="mb-2"></mat-divider>
      <div *ngFor="let value of us.mapEventi | keyvalue" class="col-12 d-flex justify-content-center  bg-white">
<!--         <app-prenotazioni [dettaglio] = "false" [corso]="value.key" [events]="value.value"></app-prenotazioni>
 -->        
      </div>
  
    </div>
  </mat-menu>

  