<div *ngIf="!isMobile" class="row mt-2 mb-5 text-focus-in px-0 py-3 bg-light rounded">
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12">

    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 px-0 ">
        <div class="container-image  ">
            <img src="/assets/bio.png"  alt="image">
        </div>
    </div>
  
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 my-auto bg-white pt-2  rounded-end rounded-bottom">
        <div class="col-12">
            <h1  class="h1-custom Bio-font">Ciao</h1>
        </div>
        <div class="col-12">
            <h1 class="h2-custom Bio-font">Mi chiamo Alessio </h1>
        </div>
        <div class="col-12 mb-2 mt-5">
            <blockquote class="blockquote-footer text-center">
                <p class="fst-italic Bio-font"><span class="yellow-span">Sono uno sviluppatore web con esperienza pluriennale</span> in molteplici aziende IT come Accenture e Capgemini ed in consulenza su progetti importanti presso Generali ed Alleanza assicurazioni , Sisal , Banca Monte dei Paschi , BPER banca . </p>
                <p class="fst-italic Bio-font mt-3">Sono partito da zero nel mondo della programmazione attraverso un master durato oltre un anno in Elis a Roma ( una scuola di alta formazione ) . <span class="green-span">La costanza e la determinazione mi hanno aiutato a superare le difficoltà ed ad apprendere la mentalità della programmazione</span>.</p>
                <p class="fst-italic Bio-font mt-3">Lavorare come programmatore ti garantisce ad oggi un posto di <span class="red-span">lavoro sicuro e nella maggior parte dei casi contratti a tempo indeterminato</span> con uno stipendio importante</p>
    
            </blockquote>
        </div>
        <div class="col-12 text-center mt-5">
            <p class="fst-italic Bio-font"><img width="20" src="/assets/svg/instagram.svg" style="margin-right: 5px;" alt="image">alessiopinna89</p>
            <p class="fst-italic Bio-font"><img width="20" src="/assets/svg/linkedin.svg" style="margin-right: 5px;"  alt="image">alessio-pinna</p>
            <p class="fst-italic Bio-font"><img width="20" src="/assets/svg/skype.svg" style="margin-right: 5px;"  alt="image">live:alessiopinna.elis</p>

        </div>
    </div>
</div> 


<div *ngIf="isMobile" class="row mt-3 mb-5 scale-up-center px-0 py-3 bg-light rounded">
   
    <div class="col-sm-12 col-12 d-flex flex-row-reverse px-0">
        <div class="container-image-sm">
            <img src="/assets/bio.png"  alt="image">
        </div>
    </div>
  
    <div class="col-sm-12 col-12 my-auto bg-white pt-2  rounded-start rounded-bottom">
        <div class="col-12">
            <h1  class="h1-custom Bio-font">Ciao</h1>
        </div>
        <div class="col-12">
            <h1 class="h2-custom Bio-font">Mi chiamo Alessio </h1>
        </div>
        <div class="col-12 mb-2 mt-5">
            <blockquote class="blockquote-footer text-center">
                <p class="fst-italic Bio-font"><span class="yellow-span">Sono uno sviluppatore web con esperienza pluriennale</span> in molteplici aziende IT come Accenture e Capgemini ed in consulenza su progetti importanti presso Generali ed Alleanza assicurazioni , Sisal , Banca Monte dei Paschi , BPER banca . </p>
                <p class="fst-italic Bio-font mt-3">Sono partito da zero nel mondo della programmazione attraverso un master durato oltre un anno in Elis a Roma ( una scuola di alta formazione ) . <span class="green-span">La costanza e la determinazione mi hanno aiutato a superare le difficoltà ed ad apprendere la mentalità della programmazione</span>.</p>
                <p class="fst-italic Bio-font mt-3">Lavorare come programmatore ti garantisce ad oggi un posto di <span class="red-span">lavoro sicuro e nella maggior parte dei casi contratti a tempo indeterminato</span> con uno stipendio importante</p>
    
            </blockquote>
        </div>
        <div class="col-12 text-center mt-5">
            <p class="fst-italic Bio-font"><img width="20" src="/assets/icons/svgs/brands/instagram.svg" style="margin-right: 5px;" alt="image">alessiopinna89</p>
            <p class="fst-italic Bio-font"><img width="20" src="/assets/icons/svgs/brands/linkedin.svg" style="margin-right: 5px;"  alt="image">alessio-pinna</p>
            <p class="fst-italic Bio-font"><img width="20" src="/assets/icons/svgs/brands/skype.svg" style="margin-right: 5px;"  alt="image">live:alessiopinna.elis</p>

        </div>
    </div>
</div> 