<div class="row card-servizio ml-2" >
    <div class="col-4 px-0 my-auto">
      
      <img class="img_servizio img-shadow my-auto" src="/assets/svg/{{prodotto.images[0].imgUrl}}.svg" alt="Card image cap">
      
    </div>
    <div class="col-8 d-flex flex-column">
      <h3 class="text-h5 text-center mb-0 mt-2"><strong>{{prodotto.nome}}</strong></h3>
      <h4 class="text-p-base-sm mb-2 mt-2 title-ext text-center">{{prodotto.nomeExt}}</h4>
      <div class="w-100 border rounded mb-2 d-flex justify-content-center py-2">
        <p class="my-auto">{{prodotto.prezzo | currency:'EUR':true }}</p>
        <p class="ml-3 text-muted px-1 my-auto font-weight-light"> / ora</p>
      </div>
      <button  mat-button class="px-0" (click)="goToDetail()">
        <p class="card-text p-small text-primary text-center"><img height="25px" class="info-calendar" src="/assets/svg/calendar.svg" alt="Card image cap"> <strong >PRENOTA ORA</strong></p>
      </button>
  
    </div>
  </div>