<div class="row mb-4 text-focus-in">
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 p-4">
        <img role="presentation" alt="" class="c-icon" src="/assets/svg/code03.svg">
        <h3 class="text-h4">Tutor online</h3>
        <p class="text-p-base">La cosa più importante è far propria la mentalità della programmazione , ci sono io per
            questo !! </p>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 p-4">
        <img role="presentation" alt="" class="c-icon" src="/assets/svg/code01.svg">
        <h3 class="text-h4">Apprendi scrivendo codice</h3>
        <p class="text-p-base">L'entusiasmo di veder funzionare quello che stai studiando è l'unico modo per apprendere
            la teoria </p>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 p-4">
        <img role="presentation" alt="" class="c-icon" src="/assets/svg/code02.svg">
        <h3 class="text-h4">L'obiettivo ?</h3>
        <p class="text-p-base">E' quello di creare insieme un esempio di applicazione web completa di tutta la teoria
            appresa</p>
    </div>
</div>